@import "../shared/css/android.css";

/*********************
 * 安卓独有样式
 ********************/
body {
    padding:0px 5px 10px 5px;
    background-color: #ffffff;
}

.authorbar .author-bar .sub-title-w .article-tag {
    line-height: 11px !important;
}
.authorbar .author-bar .name-link-wrap .name-link-w .author-name-link {
    font-weight: bold;
    font-size: 16px;
}
.avatar-view{
   display:flex;
   align-items:center;
   position:relative;
   margin-bottom:30px;

}
.avatar-view span{
    margin-left:8px;
}
.avatar-view button{
    position:absolute;
    background:none;
    right:0px;
    color:#ffffff;
    top:5px;
    border:none;
    background:#ff2400;
    padding-left:8px;
    padding-right:8px;
    border-radius:6px;
}
.avatar-view img{
     border-radius:50% !important;
     width: 30px !important;
     height: 30px;
}

.font_s article,
.font_s article h1,
.font_s article h2,
.font_s article h3,
.font_s article h4,
.font_s article h5,
.font_s article h6 {
    font-size: 16px;
}
article,
article h1,
article h2,
article h3,
article h4,
article h5,
article h6,
.font_m article,
.font_m article h1,
.font_m article h2,
.font_m article h3,
.font_m article h4,
.font_m article h5,
.font_m article h6 {
    font-size: 18px;
}
.font_l article,
.font_l article h1,
.font_l article h2,
.font_l article h3,
.font_l article h4,
.font_l article h5,
.font_l article h6 {
    font-size: 20px;
}
.font_xl article,
.font_xl article h1,
.font_xl article h2,
.font_xl article h3,
.font_xl article h4,
.font_xl article h5,
.font_xl article h6 {
    font-size: 22px;
}
article ol {
    margin-left: 36px;
}
article blockquote ol {
    margin-left: 28px;
}

h1{
    letter-spacing:0.5px;
    font-weight:bold;
    font-size:20px;
    margin-top:10px !important;;
}
p{
    letter-spacing:0.5px;
    font-size:17px;
}
.article-title{
    letter-spacing;0.5px;
    font-size:24px;
}
img{
    margin-top:0px !important;
    margin-bottom:0px !important;;

}
blockquote{
    letter-spacing:5px !important;
    background:#f1f2f4;
    padding:20px;
}



