<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ww.todaylife">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="com.ww.commonlibrary.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_workspace"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ApplicationTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name"
            android:theme="@style/ApplicationTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/NoTranslucentTheme" />
        <activity
            android:name=".SearchActivity"
            android:theme="@style/MainAppTheme" />
        <activity
            android:name=".WebViewDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/MainAppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".GalleryDetailActivity"
            android:theme="@style/TranslateActivityTheme" />
        <activity
            android:name=".PicWatchActivity"
            android:theme="@style/MainAppTheme" />

        <activity
            android:name=".HsVideoDetailActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".UserDetailActivity"
            android:theme="@style/MainAppTheme" />
        <activity
            android:name=".HistoryAndStarNewsActivity"
            android:theme="@style/MainAppTheme" />
        <activity
            android:name=".VideoNewsDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/MainAppTheme" />
        <activity
            android:name=".NewsDetailActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/MainAppTheme" />
    </application>

</manifest>